@import "tailwindcss";

@theme {
  --color-primary: #962d3e;
  --color-secondary: #fdfbf7;
  --color-background: #ffffff;
  --color-foreground: #374151;

  /* Font variables */
  --font-sans: var(--font-ibm-plex);

  /* UI Tokens */
  --color-accent: #f4f4f5;
  --color-accent-foreground: #18181b;
  --color-input: #e4e4e7;
  --color-ring: #962d3e;

  --color-card: #ffffff;
  --color-card-foreground: #374151;
  --color-muted: #f4f4f5;
  --color-muted-foreground: #71717a;
}

/* Custom Utilities */
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 1280px;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}